//******************************************************************************
//
//
//
//  #GLOBAL
//  -> Global variables
//
//
//
//******************************************************************************

//******************************************************************************
//  #URL
//******************************************************************************

$global-site: (url: '');





//******************************************************************************
//  #PATHS
//******************************************************************************

$global-paths: (
    assets: #{map-get($global-site, url)}/assets,
    fonts: #{map-get($global-site, url)}/assets/fonts,
    images: #{map-get($global-site, url)}/assets/images,
    svgs: #{map-get($global-site, url)}/assets/svgs
);