/*******************************************************************************
//
//
//
//  #HTML
//
//
//
*******************************************************************************/

@use '../_tools/functions' as functions;
@use '../_tools/mixins' as mixins;

* {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html {
    min-height: 100%;
    font-size: 100%;
}
