/*******************************************************************************
//
//
//
//  #BODY
//
//
//
*******************************************************************************/

@use '../_tools/functions' as functions;
@use '../_tools/mixins' as mixins;

body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
