/*******************************************************************************
//
//
//
//  #FORM
//
//
//
*******************************************************************************/

@use '../_tools/functions' as functions;
@use '../_tools/mixins' as mixins;

/*******************************************************************************
//
//  #FIELDSET
//
*******************************************************************************/

fieldset {
    padding: var(--wp--preset--spacing--30);
}

/*******************************************************************************
//
//  #LEGEND
//
*******************************************************************************/

legend {
    display: block;
    padding: 0 var(--wp--preset--spacing--30);
}

/*******************************************************************************
//
//  #LABEL
//
*******************************************************************************/

label {
    display: block;
}

/*******************************************************************************
//
//  #PLACEHOLDER
//
*******************************************************************************/

@include mixins.placeholder {
    color: var(--wp--preset--color--grey);
}

/*******************************************************************************
//
//  #INPUT AND TEXTAREA
//
*******************************************************************************/

input,
textarea {
    padding: functions.em(8px) functions.em(8px);
    color: var(--wp--preset--color--black)!important;
    line-height: 1;
    border: 1px solid var(--wp--preset--color--black);
    border-radius: 0;

    &:focus {
        border-color: var(--wp--preset--color--blue);
        outline: 0;
    }
}

input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='text'] {
    appearance: none;
    width: 100%;
}

input[type='radio'],
input[type='checkbox'] {
    &:focus {
        outline: none;
    }
}

textarea {
    appearance: none;
    width: 100%;
    resize: none;
}

/*******************************************************************************
//
//  #FILE
//
*******************************************************************************/

input[type='file'] {
    &:focus {
        outline: none;
    }
}

/*******************************************************************************
//
//  #SELECT
//
*******************************************************************************/

select {
    width: 100%;

    &[multiple],
    &[size] {
        height: auto;
    }

    &:focus {
        outline: none;
    }
}
