/*******************************************************************************
//
//
//
//  #LIST
//
//
//
*******************************************************************************/

@use '../_tools/functions' as functions;
@use '../_tools/mixins' as mixins;

/*******************************************************************************
//
//  #ORDERED AND UNORDERED LISTS
//
*******************************************************************************/

ol,
ul {
    padding-left: 0;
    margin-left: functions.em(18px);

    & ol,
    & ul {
        margin-top: functions.em(5px);
        margin-bottom: 0;
    }
}

/*******************************************************************************
//
//  #DEFINITION LISTS
//
*******************************************************************************/

dd {
    margin-left: var(--wp--preset--spacing--50);
}

dt {
    font-weight: 700;
}
