/*******************************************************************************
//
//
//
//  #TYPOGRAPHY
//
//
//
*******************************************************************************/

@use '../_tools/functions' as functions;
@use '../_tools/mixins' as mixins;

/*******************************************************************************
//
//  #HEADINGS
//
*******************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        font-weight: inherit;
        text-decoration: none;
    }
}

/*******************************************************************************
//
//  #ANCHORS
//
*******************************************************************************/

a {
    transition: color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:not([class]) {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
    }
}