/*******************************************************************************
//
//
//
//  #BODY
//
//
//
*******************************************************************************/

body {
    @include font-size($fonts-size-base, $fonts-line-height-base);

    min-height: 100%;
    color: var(--color-on-background);
    font-family: var(--font-helvetica);
    background-color: var(--color-background);
    overflow-x: hidden;
    overflow-y: scroll;
}
