/*******************************************************************************
//
//
//
//  #FORM
//
//
//
*******************************************************************************/

:root {
    --color-input-placeholder: var(--color-grey);
}

/*******************************************************************************
//
//  #FIELDSET
//
*******************************************************************************/

fieldset {
    padding: map-get($spacers, sm);
}

/*******************************************************************************
//
//  #LEGEND
//
*******************************************************************************/

legend {
    display: block;
    padding: 0 map-get($spacers, sm);
}

/*******************************************************************************
//
//  #LABEL
//
*******************************************************************************/

label {
    display: block;
}

/*******************************************************************************
//
//  #PLACEHOLDER
//
*******************************************************************************/

@include placeholder {
    color: var(--color-input-placeholder);
}

/*******************************************************************************
//
//  #INPUT AND TEXTAREA
//
*******************************************************************************/

input,
textarea {
    padding: em(4px) em(8px);
    border: 1px solid var(--color-on-background);

    &:focus {
        border-color: var(--color-accent);
        outline: 0;
    }
}

input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='text'] {
    appearance: none;
    width: 100%;
}

input[type='radio'],
input[type='checkbox'] {
    &:focus {
        outline: none;
    }
}

textarea {
    appearance: none;
    width: 100%;
    resize: none;
}

/*******************************************************************************
//
//  #FILE
//
*******************************************************************************/

input[type='file'] {
    &:focus {
        outline: none;
    }
}

/*******************************************************************************
//
//  #SELECT
//
*******************************************************************************/

select {
    width: 100%;

    &[multiple],
    &[size] {
        height: auto;
    }

    &:focus {
        outline: none;
    }
}

/*******************************************************************************
//
//  #BUTTON
//
*******************************************************************************/

button {
    outline: 0;
}
