<footer class="c-footer">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__row">
                <div class="o-grid__col">
                    Copyright {{ 'now'|date('Y') }}
                </div>
            </div>
        </div>
    </div>
</footer>
